In [1]:
# pattern
n=eval(input("Enter the number of rows"))

for i in range(1,n+1):
    for j in range(1,i+1):
        print(j,end=" ")
    print()

Enter the number of rows6
1
1 2
1 2 3
1 2 3 4
1 2 3 4 5
1 2 3 4 5 6

In [22]:
n=eval(input("Enter the number of rows"))

for i in range(1,n+1):
    for j in range(1,i+1):
        print(i,end=" ")
    print()

Enter the number of rows8
1
2 2
3 3 3
4 4 4 4
5 5 5 5 5
6 6 6 6 6 6
7 7 7 7 7 7 7
8 8 8 8 8 8 8 8

In [23]:
n=eval(input("Enter the number of rows"))

for i in range(1,n+1):
    for j in range(1,i+1):
        print("*",end=" ")
    print()

Enter the number of rows5
*
* *
* * *
* * * *
* * * * *

In [63]:
n=eval(input("Enter the number of rows"))

for i in range(0,n):
    for j in range(0,n-i-1):
        print(end=" ")
    for j in range(0,i+1):
        print("*", end=" ")
    print()

Enter the number of rows5
    *
   * *
  * * *
 * * * *
* * * * *

In [11]:
# prime no.
n=eval(input("Enter the number to check prime or not: "))

for i in range(2,n):
    if n%i==0:
        print(n,"Not Prime")
        break;
else:
        print(n,"Prime")

Enter the number to check prime or not: 7
7 Prime

In [6]:
# prime2

start=eval(input("Enter the starting number:"))
end=eval(input("Enter the ending number:"))
for n in range(start,end+1):
    for i in range(2,n):
        if n%i==0:
            print(n,"Not Prime")
            break;
    else:
            print(n,"prime")

Enter the starting number:5
Enter the ending number:10
5 prime
6 Not Prime
7 prime
8 Not Prime
9 Not Prime
10 Not Prime

In [16]:
# factorial

n=eval(input("Enter the number to find Factorial:"))
f=1
for i in range(1,i):
    f=f*i
    print(f,"Factorial")

Enter the number to find Factorial:5
1 Factorial
2 Factorial
6 Factorial
24 Factorial
120 Factorial

In [18]:
# Reptitive addition

n1=eval(input("Enter the first number:"))
n2=eval(input("Enter the second number:"))
sum=0
for i in range(1,n2+1):
    sum= sum+n1
    
    print(sum)

Enter the first number:5
Enter the second number:6
5
10
15
20
25
30

In [31]:
# List, tuple and dictionary
list=[45,58,78,56]

list2=[45,78,list,["ram","sham",True],["dash","champ",89,32],"5050"]
print(list2)

[45, 78, [45, 58, 78, 56], ['ram', 'sham', True], ['dash', 'champ', 89, 32], '5050']

In [32]:
for s in list2:
    print(s)

45
78
[45, 58, 78, 56]
['ram', 'sham', True]
['dash', 'champ', 89, 32]
5050

In [39]:
# basic operation list

list3=[45,58,78,56]
print(list3)  
print(len(list3))    #length
print(list3*2)       #repetition
print(list3+list3)    #concatnation
print(78 in list3)    #to check the element, it is here or not

#list can be concatinated with other list
print(list3+[5]+[58,23,12,"yo"])

[45, 58, 78, 56]
4
[45, 58, 78, 56, 45, 58, 78, 56]
[45, 58, 78, 56, 45, 58, 78, 56]
True
[45, 58, 78, 56, 5, 58, 23, 12, 'yo']

In [75]:
list4=[82,78,23,69,42,42]
print(list4)
print(max(list4))
print(min(list4))
print(len(list4))
list4.append(50)    #add the element of the last position
print(list4)
print(list4.count(42))  #count the no.of occureces
list4.insert(2,36)     
print(list4)
print(list4.pop())      #last element

[82, 78, 23, 69, 42, 42]
82
23
6
[82, 78, 23, 69, 42, 42, 50]
2
[82, 78, 36, 23, 69, 42, 42, 50]
50

In [78]:
arr=[53,83,5.5,52,36]
print(arr)
arr.remove(36)
print(arr)

[53, 83, 5.5, 52, 36]
[53, 83, 5.5, 52]

In [1]:
#slicing and indexing

team=[23,6,89,0.1,5.5,7.1,8.99]
print(team)
print(team[2])
#team[2]
print(team[1:3])
print(team[:3])     #ending point
print(team[3:])     #all elements from starting point
team2=team[4:]     #new list
print(team2)

# list shrinking

team[1:4]=[]
print(team)

[23, 6, 89, 0.1, 5.5, 7.1, 8.99]
89
[6, 89]
[23, 6, 89]
[0.1, 5.5, 7.1, 8.99]
[5.5, 7.1, 8.99]
[23, 5.5, 7.1, 8.99]

In [1]:
from myModule import hiModule
hiModule()

This is module calling
Accepted

In [5]:
from myname import myname
myname()

My Name is dashminder
I am a student

In [8]:
#list equivalence/refrence

a=[10,20,30,40,50]
print(a)
b=a
print(b)
if(a==b):
    print("a==b same")
if(a is b):
    print("a is b true")

[10, 20, 30, 40, 50]
[10, 20, 30, 40, 50]
a==b same
a is b true

In [10]:
c=[10,20,30,40,50]
if(a==c):
    print("a==c true")
if(a is c):
    print("a is c true")
print(id(a))
print(id(b))
print(id(c))

a==c true
780156233544
780156233544
780156233736

In [12]:
#repetion

A=[1,3,5,7]
print(A*4)
print([A]*4)

[1, 3, 5, 7, 1, 3, 5, 7, 1, 3, 5, 7, 1, 3, 5, 7]
[[1, 3, 5, 7], [1, 3, 5, 7], [1, 3, 5, 7], [1, 3, 5, 7]]

In [21]:
#Zip

studata=['Dashminder','Singh']
header=['firstname','lastname']
print(studata,header)

studataheader=list(zip(header,studata))  #create a list or Zip
print(studataheader)
studata,header=zip(*studataheader)    #unzip the list
print(studata,header)

['Dashminder', 'Singh'] ['firstname', 'lastname']
[('firstname', 'Dashminder'), ('lastname', 'Singh')]
('firstname', 'lastname') ('Dashminder', 'Singh')

In [35]:
# tuples
#immutable-cannot be changed

t=(20,30,50)
print(t)
t[1]
#t[1]=40 it cannot support item assignment- tuple cannot be change,but list can be changed

t2=[10,53,12]
print(t2)
t2[1]=23
print(t2)
print(t2*2)

(20, 30, 50)
[10, 53, 12]
[10, 23, 12]
[10, 23, 12, 10, 23, 12]

In [36]:
#dictionary


dict1={}    #create an empty dictinary
print(dict1)

{}

In [16]:
dict2={'name':'Dashminder','age':22,'salary':5472095}
print(dict2)
#print(dict2('name'))

#dict2['name']  access the value from dictionary   _Key and value can be anything
print(dict2['name'])
#print(dict2['age'])
print(dict2['salary'])
dict2['name']="Champ"  #update the value with specific key
print(dict2['name'])


#del dict2['qty']

dict2['qty']=123 
dict2                                #order is important

{'name': 'Dashminder', 'age': 22, 'salary': 5472095}
Dashminder
5472095
Champ

{'name': 'Champ', 'age': 22, 'salary': 5472095, 'qty': 123}